@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, rgb(0, 216, 151) , rgb(212, 0, 255));
}

.card {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(#ffb4eb86, #cda6ff81);
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
h1{
  text-align: center;
  margin: 2vh 0 4vh 0;
  color: white;
  font-size: 40px;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.8);
}

h3{
  text-align: center;
  margin: 0 0 2vh 0;
}

.card p{
  margin: 10px;
}

.card h4 {
  color: rgb(31, 31, 31);
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
}

.maisinf{
  margin-left: 70%;
  font-size: 13px;
  list-style: none;
  text-decoration: none;
  backdrop-filter:initial;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 5px;
}

.maisinf a{
  text-decoration: none;
  color: rgb(38, 13, 34);
}

.maisinf a:hover{
  color: rgb(252, 252, 252);
  background-color: rgba(110, 52, 105, 0.514);
  transition: 0.5s;
  padding: 4px;
  border-radius: 5px;
}

#opiniao {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 20px;
  padding: 20px;
  color: aliceblue;
 
}

#opiniao button{
  width: 6vw;
  height: 4vh;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);

}

#buttons{
  margin: 0 auto;
}